/* NEED TO ADD COMMENTS HERE AS WELL*/
html {
  background-color: #0f13497c; 
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  background-color: #0f13497c; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header-container {
  text-align: center; 
  margin-bottom: 2rem; 
}

.boxes-container {
  display: flex;
  gap: 2rem; 
}

.box1, .box2 {
  background: #212558cb;
  border: 5px solid rgb(112, 104, 104);
  border-radius: 10px;
  padding: 1rem;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.box1 ul li,
.box2 ul li {
  font-size: 1em; /* Normal font size */
  transition: font-size 0.3s ease; /* Smooth transition applied to both states */
}

.box1 ul li:hover,
.box2 ul li:hover {
  font-size: 1.2em; /* Increased font size on hover */
  cursor: pointer; /* Show a pointer cursor on hover */
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start; 
}

li {
  padding: 1rem;
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

li:last-child {
  border-bottom: none;
}

h2 {
  text-align: center;
  margin: 0 0 1rem 0; 
  font-size: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
}

.example-container {
  grid-template-rows: [row1-start] 25px [row1-end row2-start] 25px [row2-end];
  grid-template-columns: auto 50px auto;
  width: 120rem;
}

.example-content {
  grid-column: 1;
}

a {
  display: inline-block; /* Ensures transform works */
  transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
  color: #ff6347;
  transform: scale(1.05);
}

.separator {
  grid-column: 2;
  width: 2px;
  background-color: #999;
}

.trick-description {
  grid-column: 3;
  font-size: 1rem;
  color: #ffffff;
  white-space: normal;
  word-wrap: break-word;
}

.trick-description p {
  margin-bottom: 1.5rem;
}







